.header-menu{
    display: flex;
    justify-content: space-between;
    padding: 20px 32px;               

}

.header-menu h1{
    font: var(--h1);
    text-transform: uppercase;
    color: var(--brand-color-light);
}